<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title id="title">CalSTAR Telemetry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">CalSTAR Telemetry</a>
    </nav>
    <script type="text/javascript" src="/dist/client.js"></script>
    <h2>Delet Successful!</h2>
    <p>TODO: so this actually deletes the datapoints inside runs but not runs themselves. This has something to do with the foreign key and not being able to access the parent table Runs.</p>
    <a class="btn btn-danger" href="/">Home</a>
    <a class="btn btn-primary" href="/runs">Runs</a>
  </body>
</html>
